@model DeckDJ.Models.DetailsDeck
@{
    ViewBag.Title = "Details";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Deck/List">Back To Decks</a>
        <a class="dellink" href="/Deck/DeleteConfirm/@Model.Deck.DeckId">Delete</a>
        <a class="navlink" href="/Deck/Edit/@Model.Deck.DeckId">Update</a>
    </nav>
    <h2>@Model.Deck.DeckName</h2>
</div>
<div>ID: @Model.Deck.DeckId</div>
<div>UserId: @Model.Deck.UserId</div>
<div>Name: @Model.Deck.DeckName</div>

<div>
    <h3>Cards In Deck</h3>
    <table class="table">
        <tr>
            <th scope="col">CardId</th>
            <th scope="col">CardName</th>
            <th scope="col">Copies</th>
            <th scope="col"></th>
        </tr>
        @foreach(var card in Model.ComboPieces)
            {
                <tr>
                    <td>@card.CardId</td>
                    <td>@card.CardName</td>
                    <td>@card.copies</td>
                    <td><a href="/ComboPieceData/DeleteComboPiece/@card.ComboPieceId">Remove from deck</a></td>
                </tr>
            }
    </table>
</div>

<div>
    <h3>Deck Playlist</h3>
    <div>
        <h4>Add audio to Deck</h4>
        <form method="POST" action="/Deck/Associate/@Model.Deck.DeckId">
            <select name="AudioId">
                @foreach (var audio in Model.OtherAudios)
                {
                    <option value="@audio.AudioId">@audio.AudioName - @audio.AudioUploaderId</option>
                }
            </select>
            <input type="Submit" value="Add audio" />
        </form>
    </div>
    <table class="table">
        <tr>
            <th scope="col">Audio Id</th>
            <th scope="col">Audio Name</th>
            <th scope="col">Length</th>
            <th scope="col"></th>
        </tr>
        @foreach (var audio in Model.Audios)
        {
            <tr>
                <td>@audio.AudioId</td>
                <td>@audio.AudioName</td>
                <td>@audio.AudioLength</td>
                <td><a href="/Deck/Unassociate/@Model.Deck.DeckId?AudioId=@audio.AudioId">Remove from deck</a></td>
            </tr>
        }
    </table>
</div>

<script src="~/Scripts/admindeck.js"></script>
<script>
    window.onload = function () {
        getCardsInDeck(@Html.Raw(Model.Deck.DeckId));
    }
</script>