@model DeckDJ.Models.DetailsAudio
@{
    ViewBag.Title = "Details";
}

<div class="container mt-4">
    <div class="bg-light p-4 rounded shadow-sm">
        <h2>@Model.Audio.AudioName</h2>

        <div class="d-flex justify-content-start mt-4 mb-4">
            <a href="/Audio/edit/@Model.Audio.AudioId" class="btn btn-primary me-2">Edit</a>
            <a href="/Audio/DeleteConfirm/@Model.Audio.AudioId" class="btn btn-danger">Delete</a>
        </div>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th scope="row">Length</th>
                    <td>@Model.Audio.AudioLength</td>
                </tr>
                <tr>
                    <th scope="row">Upload Date</th>
                    <td>@Model.Audio.AudioTimestamp</td>
                </tr>
                <tr>
                    <th scope="row">Uploader</th>
                    <td>@Model.Audio.AudioUploaderId</td>
                </tr>
                <tr>
                    <th scope="row">Genre</th>
                    <td>@Model.Audio.CategoryName</td>
                </tr>
                <tr>
                    <th scope="row">Id</th>
                    <td>@Model.Audio.AudioId</td>
                </tr>

                @if (Model.Audio.AudioHasAudio)
                {
                    <tr>
                        <th scope="row">Listen</th>
                        <td>
                            <audio controls>
                                <source src="~/Content/AudioData/@Model.Audio.AudioId.@Model.Audio.AudioExtension" type="audio/@Model.Audio.AudioExtension">
                                Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>
                }

                <tr>
                    <th scope="row">Views</th>
                    <td>@Model.Audio.AudioStreams</td>
                </tr>
            </tbody>
        </table>

        <div class="mt-5">
            <h3>Decks Containing Audio</h3>
            <table class="table table-bordered">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">UserId</th>
                    <th scope="col"></th>
                </tr>
                @foreach (var deck in Model.Decks)
                {
                    <tr>
                        <td>@deck.DeckId</td>
                        <td>@deck.DeckId</td>
                        <td>@deck.UserId</td>
                        <td>
                            <a href="/Deck/Unassociate/@deck.DeckId?AudioId=@Model.Audio.AudioId" class="btn btn-sm btn-outline-danger">Remove from deck</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>