@model DeckDJ.Models.AudioDto
@{
    ViewBag.Title = "Show";
}

<h2>@Model.AudioName</h2>


<p><b>URL:</b> @Model.AudioURL</p>
<p><b>Length:</b> @Model.AudioLength</p>
<p><b>Upload Date:</b> @Model.AudioTimestamp</p>
<p><b>Uploader:</b> @Model.AudioUploaderId</p>
<p><b>Genre:</b> @Model.CategoryName</p>
<p><b>Id:</b> @Model.AudioId</p>
<p>@Model.AudioStreams Views</p>


<a href="/Audio/edit/@Model.AudioId">
    <div class="button edit" style="
                                                                        padding:4px;
                                                                        margin:4px;
                                                                        color:black;
                                                                        background-color:lightgray;
                                                                        border:1px solid black;
                                                                        border-radius:4px;
                                                                        text-decoration:none;
                                                                        width:fit-content
         ">Edit</div>
</a>
<a href="/Audio/DeleteConfirm/@Model.AudioId">
    <div class="button delete" style="
                                                                        padding:4px;
                                                                        margin:4px;
                                                                        color:white;
                                                                        background-color:#ca0000;
                                                                        border:1px solid black;
                                                                        border-radius:4px;
                                                                        text-decoration:none;
                                                                        width:fit-content

         ">Delete</div>
</a>