@model DeckDJ.Models.ListCards
@{
    ViewBag.Title = "List";
}
@if (Model.IsAdmin)
{
    <nav>
        <a class="dellink" href="/Card/New/">New Card</a>
    </nav>
}
<h2>List</h2>
<table class="table">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Card Name</th>
        <th scope="col">Card Number</th>
        <th scope="col">Card Frame</th>
        <th scope="col">Type</th>
        <th scope="col">Attribute</th>
        <th scope="col">Level</th>
        <th scope="col">Scale</th>
        <th scope="col">Attack</th>
        <th scope="col">Defense</th>
    </tr>
    <tbody id="table-data">
        @foreach (var card in Model.Cards)
        {
            <tr>
                <th scope="row"><a href="/Card/Details/@card.Id">@card.Id</a></th>
                <td>@card.Name</td>
                <td>@card.Number</td>
                <td>@card.CardFrame</td>
                <td>@card.CardType</td>
                <td>@card.Attribute</td>
                <td>@card.Level</td>
                <td>@card.Scale</td>
                <td>@card.Attack</td>
                <td>@card.Defense</td>
            </tr>
        }
    </tbody>
</table>
<div>
    @if (Model.Cards.Count() > 0 && Model.PageNum != null)
    {
        int PrevPage = Convert.ToInt32(Model.PageNum) - 1;
        int NextPage = Convert.ToInt32(Model.PageNum) + 1;
        @Html.ActionLink("Prev", "List", new { PageNum = PrevPage })
        @Model.PageSummary
        @Html.ActionLink("Next", "List", new { PageNum = NextPage })
    }
</div>